body
  background: #123
  border-top: 5px solid #000
  color: #333
  font-size: 11px
  padding: 20px 0 40px

a
  color: #fff
  text-decoration: none
  &:hover
    text-decoration: underline

h1
  font-family: Georgia, serif
  font-weight: normal
  text-align: center

h2
  padding: 20px 0 0
  text-align: center

p
  border: 1px solid #666
  overflow: hidden
  padding: 10px 0
  text-align: center

.container_12
  background: white url(/images/12_col.gif) repeat-y
  margin-bottom: 20px

.container_16
  background: white url(/images/16_col.gif) repeat-y

.container_24
  background: white url(/images/24_col.gif) repeat-y
