/*
 *	960 Grid System ~ Core CSS.
 *	Learn more ~ http://960.gs/
 *
 *	Licensed under GPL and MIT.

/* `Containers
 *----------------------------------------------------------------------------------------------------

.container_12, .container_16
  margin-right: auto
  margin-left: auto
  width: 960px

/* `Grid >> Global
 *----------------------------------------------------------------------------------------------------

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16
  display: inline
  float: right
  margin-right: 10px
  margin-left: 10px

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15
  position: relative

.container_12 .grid_3, .container_16 .grid_4
  width: 220px

.container_12 .grid_6, .container_16 .grid_8
  width: 460px

.container_12 .grid_9, .container_16 .grid_12
  width: 700px

.container_12 .grid_12, .container_16 .grid_16
  width: 940px

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
 *----------------------------------------------------------------------------------------------------

.alpha
  margin-right: 0

.omega
  margin-left: 0

/* `Grid >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .grid_1
    width: 60px
  .grid_2
    width: 140px
  .grid_4
    width: 300px
  .grid_5
    width: 380px
  .grid_7
    width: 540px
  .grid_8
    width: 620px
  .grid_10
    width: 780px
  .grid_11
    width: 860px

/* `Grid >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .grid_1
    width: 40px
  .grid_2
    width: 100px
  .grid_3
    width: 160px
  .grid_5
    width: 280px
  .grid_6
    width: 340px
  .grid_7
    width: 400px
  .grid_9
    width: 520px
  .grid_10
    width: 580px
  .grid_11
    width: 640px
  .grid_13
    width: 760px
  .grid_14
    width: 820px
  .grid_15
    width: 880px

/* `Prefix Extra Space >> Global
 *----------------------------------------------------------------------------------------------------

.container_12 .prefix_3, .container_16 .prefix_4
  padding-right: 240px

.container_12 .prefix_6, .container_16 .prefix_8
  padding-right: 480px

.container_12 .prefix_9, .container_16 .prefix_12
  padding-right: 720px

/* `Prefix Extra Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .prefix_1
    padding-right: 80px
  .prefix_2
    padding-right: 160px
  .prefix_4
    padding-right: 320px
  .prefix_5
    padding-right: 400px
  .prefix_7
    padding-right: 560px
  .prefix_8
    padding-right: 640px
  .prefix_10
    padding-right: 800px
  .prefix_11
    padding-right: 880px

/* `Prefix Extra Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .prefix_1
    padding-right: 60px
  .prefix_2
    padding-right: 120px
  .prefix_3
    padding-right: 180px
  .prefix_5
    padding-right: 300px
  .prefix_6
    padding-right: 360px
  .prefix_7
    padding-right: 420px
  .prefix_9
    padding-right: 540px
  .prefix_10
    padding-right: 600px
  .prefix_11
    padding-right: 660px
  .prefix_13
    padding-right: 780px
  .prefix_14
    padding-right: 840px
  .prefix_15
    padding-right: 900px

/* `Suffix Extra Space >> Global
 *----------------------------------------------------------------------------------------------------

.container_12 .suffix_3, .container_16 .suffix_4
  padding-left: 240px

.container_12 .suffix_6, .container_16 .suffix_8
  padding-left: 480px

.container_12 .suffix_9, .container_16 .suffix_12
  padding-left: 720px

/* `Suffix Extra Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .suffix_1
    padding-left: 80px
  .suffix_2
    padding-left: 160px
  .suffix_4
    padding-left: 320px
  .suffix_5
    padding-left: 400px
  .suffix_7
    padding-left: 560px
  .suffix_8
    padding-left: 640px
  .suffix_10
    padding-left: 800px
  .suffix_11
    padding-left: 880px

/* `Suffix Extra Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .suffix_1
    padding-left: 60px
  .suffix_2
    padding-left: 120px
  .suffix_3
    padding-left: 180px
  .suffix_5
    padding-left: 300px
  .suffix_6
    padding-left: 360px
  .suffix_7
    padding-left: 420px
  .suffix_9
    padding-left: 540px
  .suffix_10
    padding-left: 600px
  .suffix_11
    padding-left: 660px
  .suffix_13
    padding-left: 780px
  .suffix_14
    padding-left: 840px
  .suffix_15
    padding-left: 900px

/* `Push Space >> Global
 *----------------------------------------------------------------------------------------------------

.container_12 .push_3, .container_16 .push_4
  right: 240px

.container_12 .push_6, .container_16 .push_8
  right: 480px

.container_12 .push_9, .container_16 .push_12
  right: 720px

/* `Push Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .push_1
    right: 80px
  .push_2
    right: 160px
  .push_4
    right: 320px
  .push_5
    right: 400px
  .push_7
    right: 560px
  .push_8
    right: 640px
  .push_10
    right: 800px
  .push_11
    right: 880px

/* `Push Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .push_1
    right: 60px
  .push_2
    right: 120px
  .push_3
    right: 180px
  .push_5
    right: 300px
  .push_6
    right: 360px
  .push_7
    right: 420px
  .push_9
    right: 540px
  .push_10
    right: 600px
  .push_11
    right: 660px
  .push_13
    right: 780px
  .push_14
    right: 840px
  .push_15
    right: 900px

/* `Pull Space >> Global
 *----------------------------------------------------------------------------------------------------

.container_12 .pull_3, .container_16 .pull_4
  right: -240px

.container_12 .pull_6, .container_16 .pull_8
  right: -480px

.container_12 .pull_9, .container_16 .pull_12
  right: -720px

/* `Pull Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .pull_1
    right: -80px
  .pull_2
    right: -160px
  .pull_4
    right: -320px
  .pull_5
    right: -400px
  .pull_7
    right: -560px
  .pull_8
    right: -640px
  .pull_10
    right: -800px
  .pull_11
    right: -880px

/* `Pull Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .pull_1
    right: -60px
  .pull_2
    right: -120px
  .pull_3
    right: -180px
  .pull_5
    right: -300px
  .pull_6
    right: -360px
  .pull_7
    right: -420px
  .pull_9
    right: -540px
  .pull_10
    right: -600px
  .pull_11
    right: -660px
  .pull_13
    right: -780px
  .pull_14
    right: -840px
  .pull_15
    right: -900px

/* `Clear Floated Elements
 *----------------------------------------------------------------------------------------------------

/* http://sonspring.com/journal/clearing-floats

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified

.clearfix
  &:before
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
  &:after
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
    clear: both
  zoom: 1

/*
 *	The following zoom:1 rule is specifically for IE6 + IE7.
 *	Move to separate stylesheet if invalid CSS is a problem.
