!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title 960 Grid System &mdash; Demo
    = stylesheet_link_tag 'reset','text','960_24_col','demo'
  %body
    %h1
      %a{:href => "http://960.gs/"} 960 Grid System
    .container_24
      %h2
        24 Column Grid
      .grid_24
        %p
          950
      / end .grid_24
      .clear
      .grid_1
        %p
          30
      / end .grid_1
      .grid_23
        %p
          910
      / end .grid_23
      .clear
      .grid_2
        %p
          70
      / end .grid_2
      .grid_22
        %p
          870
      / end .grid_2
      .clear
      .grid_3
        %p
          110
      / end .grid_3
      .grid_21
        %p
          830
      / end .grid_21
      .clear
      .grid_4
        %p
          150
      / end .grid_4
      .grid_20
        %p
          790
      / end .grid_20
      .clear
      .grid_5
        %p
          190
      / end .grid_5
      .grid_19
        %p
          750
      / end .grid_19
      .clear
      .grid_6
        %p
          230
      / end .grid_6
      .grid_18
        %p
          710
      / end .grid_18
      .clear
      .grid_7
        %p
          270
      / end .grid_7
      .grid_17
        %p
          670
      / end .grid_17
      .clear
      .grid_8
        %p
          310
      / end .grid_8
      .grid_16
        %p
          630
      / end .grid_16
      .clear
      .grid_9
        %p
          350
      / end .grid_9
      .grid_15
        %p
          590
      / end .grid_15
      .clear
      .grid_10
        %p
          390
      / end .grid_10
      .grid_14
        %p
          550
      / end .grid_14
      .clear
      .grid_11
        %p
          430
      / end .grid_11
      .grid_13
        %p
          510
      / end .grid_13
      .clear
      .grid_12
        %p
          470
      / end .grid_12
      .grid_12
        %p
          470
      / end .grid_12
      .clear
      .grid_1.suffix_23
        %p
          30
      / end .grid_1.suffix_23
      .clear
      .grid_1.prefix_1.suffix_22
        %p
          30
      / end .grid_1.prefix_1.suffix_22
      .clear
      .grid_1.prefix_2.suffix_21
        %p
          30
      / end .grid_1.prefix_2.suffix_21
      .clear
      .grid_1.prefix_3.suffix_20
        %p
          30
      / end .grid_1.prefix_3.suffix_20
      .clear
      .grid_1.prefix_4.suffix_19
        %p
          30
      / end .grid_1.prefix_4.suffix_19
      .clear
      .grid_1.prefix_5.suffix_18
        %p
          30
      / end .grid_1.prefix_5.suffix_18
      .clear
      .grid_1.prefix_6.suffix_17
        %p
          30
      / end .grid_1.prefix_6.suffix_17
      .clear
      .grid_1.prefix_7.suffix_16
        %p
          30
      / end .grid_1.prefix_7.suffix_16
      .clear
      .grid_1.prefix_8.suffix_15
        %p
          30
      / end .grid_1.prefix_8.suffix_15
      .clear
      .grid_1.prefix_9.suffix_14
        %p
          30
      / end .grid_1.prefix_9.suffix_14
      .clear
      .grid_1.prefix_10.suffix_13
        %p
          30
      / end .grid_1.prefix_10.suffix_13
      .clear
      .grid_1.prefix_11.suffix_12
        %p
          30
      / end .grid_1.prefix_11.suffix_12
      .grid_1.prefix_12.suffix_11
        %p
          30
      / end .grid_1.prefix_12.suffix_11
      .clear
      .grid_1.prefix_13.suffix_10
        %p
          30
      / end .grid_1.prefix_13.suffix_10
      .clear
      .grid_1.prefix_14.suffix_9
        %p
          30
      / end .grid_1.prefix_14.suffix_9
      .clear
      .grid_1.prefix_15.suffix_8
        %p
          30
      / end .grid_1.prefix_15.suffix_8
      .clear
      .grid_1.prefix_16.suffix_7
        %p
          30
      / end .grid_1.prefix_16.suffix_7
      .clear
      .grid_1.prefix_17.suffix_6
        %p
          30
      / end .grid_1.prefix_17.suffix_6
      .clear
      .grid_1.prefix_18.suffix_5
        %p
          30
      / end .grid_1.prefix_18.suffix_5
      .clear
      .grid_1.prefix_19.suffix_4
        %p
          30
      / end .grid_1.prefix_19.suffix_4
      .clear
      .grid_1.prefix_20.suffix_3
        %p
          30
      / end .grid_1.prefix_20.suffix_3
      .clear
      .grid_1.prefix_21.suffix_2
        %p
          30
      / end .grid_1.prefix_21.suffix_2
      .clear
      .grid_1.prefix_22.suffix_1
        %p
          30
      / end .grid_1.prefix_22.suffix_1
      .clear
      .grid_1.prefix_23
        %p
          30
      / end .grid_1.prefix_23
      .clear
      .grid_12.push_12
        .grid_6.alpha
          %p
            230
        / end .grid_6.alpha
        .grid_6.omega
          %p
            230
        / end .grid_6.omega
        .clear
        .grid_1.alpha
          %p
            30
        / end .grid_1.alpha
        .grid_11.omega
          %p
            430
        / end .grid_11.omega
        .clear
      / end .grid_12.push_12
      .grid_12.pull_12
        .grid_1.alpha
          %p
            30
        / end .grid_1.alpha
        .grid_11.omega
          %p
            430
        / end .grid_11.omega
        .clear
        .grid_6.alpha
          %p
            230
        / end .grid_6.alpha
        .grid_6.omega
          %p
            230
        / end .grid_6.omega
        .clear
      / end .grid_12.pull_12
      .clear
    / end .container_24
