!!!
%html{:dir => "rtl", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title 960 Grid System &mdash; Demo
    = stylesheet_link_tag 'reset','rtl_text','rtl_960','demo'
  %body
    %h1
      %a{:href => "http://960.gs/"} 960 Grid System
    .container_12
      %h2
        12 Column Grid
      .grid_12
        %p
          940
      / end .grid_12
      .clear
      .grid_1
        %p
          60
      / end .grid_1
      .grid_11
        %p
          860
      / end .grid_11
      .clear
      .grid_2
        %p
          140
      / end .grid_2
      .grid_10
        %p
          780
      / end .grid_10
      .clear
      .grid_3
        %p
          220
      / end .grid_3
      .grid_9
        %p
          700
      / end .grid_9
      .clear
      .grid_4
        %p
          300
      / end .grid_4
      .grid_8
        %p
          620
      / end .grid_8
      .clear
      .grid_5
        %p
          380
      / end .grid_5
      .grid_7
        %p
          540
      / end .grid_7
      .clear
      .grid_6
        %p
          460
      / end .grid_6
      .grid_6
        %p
          460
      / end .grid_6
      .clear
      .grid_1.suffix_11
        %p
          60
      / end .grid_1.suffix_11
      .clear
      .grid_1.prefix_1.suffix_10
        %p
          60
      / end .grid_1.prefix_1.suffix_10
      .clear
      .grid_1.prefix_2.suffix_9
        %p
          60
      / end .grid_1.prefix_2.suffix_9
      .clear
      .grid_1.prefix_3.suffix_8
        %p
          60
      / end .grid_1.prefix_3.suffix_8
      .clear
      .grid_1.prefix_4.suffix_7
        %p
          60
      / end .grid_1.prefix_4.suffix_7
      .clear
      .grid_1.prefix_5.suffix_6
        %p
          60
      / end .grid_1.prefix_5.suffix_6
      .clear
      .grid_1.prefix_6.suffix_5
        %p
          60
      / end .grid_1.prefix_6.suffix_5
      .clear
      .grid_1.prefix_7.suffix_4
        %p
          60
      / end .grid_1.prefix_7.suffix_4
      .clear
      .grid_1.prefix_8.suffix_3
        %p
          60
      / end .grid_1.prefix_8.suffix_3
      .clear
      .grid_1.prefix_9.suffix_2
        %p
          60
      / end .grid_1.prefix_9.suffix_2
      .clear
      .grid_1.prefix_10.suffix_1
        %p
          60
      / end .grid_1.prefix_10.suffix_1
      .clear
      .grid_1.prefix_11
        %p
          60
      / end .grid_1.prefix_11
      .clear
      .grid_6.push_6
        .grid_1.alpha
          %p
            60
        / end .grid_1.alpha
        .grid_5.omega
          %p
            380
        / end .grid_5.omega
        .clear
        .grid_3.alpha
          %p
            220
        / end .grid_3.alpha
        .grid_3.omega
          %p
            220
        / end .grid_3.omega
        .clear
      / end .grid_6.push_6
      .grid_6.pull_6
        .grid_3.alpha
          %p
            220
        / end .grid_3.alpha
        .grid_3.omega
          %p
            220
        / end .grid_3.omega
        .clear
        .grid_1.alpha
          %p
            60
        / end .grid_1.alpha
        .grid_5.omega
          %p
            380
        / end .grid_5.omega
        .clear
      / end .grid_6.pull_6
      .clear
    / end .container_12
    .container_16
      %h2
        16 Column Grid
      .grid_16
        %p
          940
      / end .grid_16
      .clear
      .grid_1
        %p
          40
      / end .grid_1
      .grid_15
        %p
          880
      / end .grid_15
      .clear
      .grid_2
        %p
          100
      / end .grid_2
      .grid_14
        %p
          820
      / end .grid_14
      .clear
      .grid_3
        %p
          160
      / end .grid_3
      .grid_13
        %p
          760
      / end .grid_13
      .clear
      .grid_4
        %p
          220
      / end .grid_4
      .grid_12
        %p
          700
      / end .grid_12
      .clear
      .grid_5
        %p
          280
      / end .grid_5
      .grid_11
        %p
          640
      / end .grid_11
      .clear
      .grid_6
        %p
          340
      / end .grid_6
      .grid_10
        %p
          580
      / end .grid_10
      .clear
      .grid_7
        %p
          400
      / end .grid_7
      .grid_9
        %p
          520
      / end .grid_9
      .clear
      .grid_8
        %p
          460
      / end .grid_8
      .grid_8
        %p
          460
      / end .grid_8
      .clear
      .grid_1.suffix_15
        %p
          40
      / end .grid_1.suffix_15
      .clear
      .grid_1.prefix_1.suffix_14
        %p
          40
      / end .grid_1.prefix_1.suffix_14
      .clear
      .grid_1.prefix_2.suffix_13
        %p
          40
      / end .grid_1.prefix_2.suffix_13
      .clear
      .grid_1.prefix_3.suffix_12
        %p
          40
      / end .grid_1.prefix_3.suffix_12
      .clear
      .grid_1.prefix_4.suffix_11
        %p
          40
      / end .grid_1.prefix_4.suffix_11
      .clear
      .grid_1.prefix_5.suffix_10
        %p
          40
      / end .grid_1.prefix_5.suffix_10
      .clear
      .grid_1.prefix_6.suffix_9
        %p
          40
      / end .grid_1.prefix_6.suffix_9
      .clear
      .grid_1.prefix_7.suffix_8
        %p
          40
      / end .grid_1.prefix_7.suffix_8
      .clear
      .grid_1.prefix_8.suffix_7
        %p
          40
      / end .grid_1.prefix_8.suffix_7
      .clear
      .grid_1.prefix_9.suffix_6
        %p
          40
      / end .grid_1.prefix_9.suffix_6
      .clear
      .grid_1.prefix_10.suffix_5
        %p
          40
      / end .grid_1.prefix_10.suffix_5
      .clear
      .grid_1.prefix_11.suffix_4
        %p
          40
      / end .grid_1.prefix_11.suffix_4
      .clear
      .grid_1.prefix_12.suffix_3
        %p
          40
      / end .grid_1.prefix_12.suffix_3
      .clear
      .grid_1.prefix_13.suffix_2
        %p
          40
      / end .grid_1.prefix_13.suffix_2
      .clear
      .grid_1.prefix_14.suffix_1
        %p
          40
      / end .grid_1.prefix_14.suffix_1
      .clear
      .grid_1.prefix_15
        %p
          40
      / end .grid_1.prefix_15
      .clear
      .grid_8.push_8
        .grid_1.alpha
          %p
            40
        / end .grid_1.alpha
        .grid_7.omega
          %p
            400
        / end .grid_7.omega
        .clear
        .grid_4.alpha
          %p
            220
        / end .grid_4.alpha
        .grid_4.omega
          %p
            220
        / end .grid_4.omega
        .clear
      / end .grid_8.push_8
      .grid_8.pull_8
        .grid_4.alpha
          %p
            220
        / end .grid_4.alpha
        .grid_4.omega
          %p
            220
        / end .grid_4.omega
        .clear
        .grid_1.alpha
          %p
            40
        / end .grid_1.alpha
        .grid_7.omega
          %p
            400
        / end .grid_7.omega
        .clear
      / end .grid_8.pull_8
      .clear
    / end .container_16
